{{ $st := .page }}
{{ $columns := $st.Params.design.columns | default "1" }}

<div class="row">
  {{ if ne $columns "1" }}
    <div class="col-12 col-lg-4 section-heading" style="margin-bottom: 1.5rem;">
      {{ with $st.Title }}<h1 style="text-align: center; font-weight: 700;">{{ . | markdownify | emojify }}</h1>{{ end }}
      {{ with $st.Params.subtitle }}<p style="text-align: center;">{{ . | markdownify | emojify }}</p>{{ end }}
    </div>
    <div class="col-12 col-lg-8">
      {{ $st.Content }}
    </div>
  {{ else }}
    <div class="col-lg-12">
      <div class="section-heading" style="margin-bottom: 1.5rem;">
        {{ with $st.Title }}<h1 style="text-align: center; font-weight: 700;">{{ . | markdownify | emojify }}</h1>{{ end }}
        {{ with $st.Params.subtitle }}<p style="text-align: center;">{{ . | markdownify | emojify }}</p>{{ end }}
      </div>
      {{ $st.Content }}
    </div>
  {{ end }}
</div>