<div class="pub-list-item" style="margin-bottom: 1rem">
  <i class="far fa-file-alt pub-icon" aria-hidden="true"></i>

  {{ $authors := .Params.authors }}
  {{ $myname := "Maomao Hu" }}

  {{/* APA Style */}}
  {{ if eq (site.Params.publications.citation_style | default "apa") "apa" }}

  <span class="article-metadata li-cite-author">
    {{ range $index, $author := $authors }}
      {{ if gt $index 0 }}, {{ end }}
      {{ if eq $author $myname }}
        <strong>{{ $author }}</strong>
      {{ else }}
        {{ $author }}
      {{ end }}
    {{ end }}
  </span>
  ({{- .Date.Format "2006" -}}).
  {{ .Title }}.
  {{ if .Params.publication_short }}
    <em>{{ .Params.publication_short | markdownify }}</em>.
  {{ else if .Params.publication }}
    <em>{{ .Params.publication | markdownify }}</em>.
  {{ end }}
  <span class="ml-2">{{ partial "page_links" (dict "page" . "is_list" 1) }}</span>

  {{/* MLA Style */}}
  {{ else }}

  <span class="article-metadata li-cite-author">
    {{ range $index, $author := $authors }}
      {{ if gt $index 0 }}, {{ end }}
      {{ if eq $author $myname }}
        <strong>{{ $author }}</strong>
      {{ else }}
        {{ $author }}
      {{ end }}
    {{ end }}.
  </span>
  {{ .Title }}.
  {{ if .Params.publication_short }}
    <em>{{ .Params.publication_short | markdownify }}</em>,
  {{ else if .Params.publication }}
    <em>{{ .Params.publication | markdownify }}</em>,
  {{ end }}
  {{- .Date.Format "2006" -}}.
  <span class="ml-2">{{ partial "page_links" (dict "page" . "is_list" 1) }}</span>

  {{ end }}
</div>